html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Spartan", sans-serif;
}

p {
    font-weight: 400;
}

:root {
    --dkmagenta: hsl(300, 43%, 22%);
    --pink: hsl(333, 80%, 67%);
    --dkgraymagenta: hsl(303, 10%, 53%);
    --ltgraymagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

.reviews {
    padding: 4rem 1.5rem;
}

@media only screen and (max-width: 62.5rem) {
    .reviews {
        background: url(/images/bg-pattern-top-mobile.svg) top left no-repeat, url(/images/bg-pattern-bottom-mobile.svg) bottom right no-repeat;
    }

    h1 {
        color: var(--dkmagenta);
        padding: 0 1rem;
        font-size: 2rem;
        line-height: 1;
    }

    .stars {
        margin-top: 2.5rem;
        margin-bottom: 3.4rem;
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 62.5rem) {
    .reviews {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        background: url(/images/bg-pattern-top-desktop.svg) top left no-repeat, url(/images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;

    }

    .love {
        margin-top: 1.5rem;
        margin-bottom: 3.4rem;
        margin-left: 10rem;
    }

    .love h1 {
        color: var(--dkmagenta);
        text-align: left;
        width: 25rem;
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 0;
    }

    .love p {
        text-align: left;
        font-size: 500;
        width: 26.2rem;
    }

    .stars {
        margin-left: 1.7rem;
        margin-right: 8.7rem;
        margin-top: 2rem;
        font-size: 0.8rem;
    }

    .fstars1,
    .fstars2,
    .fstars3 {
        height: 3.1rem;
        max-width: 27.5rem;
    }

    .fstars2 {
        margin-left: 2.8rem;
    }

    .fstars3 {
        margin-left: 5.6rem;
    }

    .icon {
        position: absolute;
        padding-left: 1.8rem;
    }

    .text {
        position: absolute;
        margin-left: 11.2rem;
    }

    .buyers {
        display: grid;
        grid-column: 1 / 3;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        margin-left: 10rem;
        width: 70rem;
    }

    .person1 {
        height: 14.3rem;
    }

    .person2 {
        margin-top: 1rem;
        height: 14.3rem;
    }

    .person3 {
        height: 14.3rem;
        margin-top: 2rem;
    }
}

.love {
    text-align: center;
}

.love p {
    color: var(--dkgraymagenta);
    font-size: 0.85rem;
    line-height: 1.7;
}

.fstars1,
.fstars2,
.fstars3 {
    background-color: var(--ltgraymagenta);
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.7rem;
    text-align: center;
    color: var(--dkmagenta);
    font-weight: 700;
}

.icon {
    padding-bottom: 0.8rem;
}

.person1,
.person2,
.person3 {
    background-color: var(--dkmagenta);
    border-radius: 0.5rem;
    color: var(--white);
    font-size: 0.8rem;
}

.desc {
    position: relative;
    text-align: center;
    padding-top: 2.1rem;
    padding-bottom: 0.3rem;
}

.person1 p,
.person2 p,
.person3 p {
    line-height: 1.7;
    padding-left: 2rem;
    padding-right: 1.8rem;
    padding-bottom: 2rem;
}

.desc img {
    position: absolute;
    border-radius: 50rem;
    height: 2.5rem;
    left: 2rem;
    bottom: 1.15rem;
}

span {
    font-weight: 400;
    font-size: small;
    color: var(--pink);
}
